* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    ;

}

body {
    max-width: 1960px;

}

/* header */

.header-vector {
    display: flex;
    justify-content: center;
}

.vector-menu {
    display: none;
}

.vector-container {
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
}

.Menu {
    font-size: 12px;
    color: rgba(0, 0, 0, 1);
    font-family: ();
    padding: 24px;
    margin: auto;
}

@media (max-width:1000px) {
    .menu-container {
        display: none;
    }

    .header-vector {
        justify-content: space-between;
    }

    .vector-menu {
        display: block
    }

    .vector-container {
        gap: 15.5px;
    }
}



/* header 2 */

.header-2 {
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 16px;
    text-align: center;
}

@media (max-width:1000px) {
    .header-2 {
        display: flex;
        justify-content: center;
        padding: 12px;
    }
}

@media (max-width:450px) {
    .header-2 {
        display: flex;
        justify-content: center;
        padding: 0;
    }
}

/* HERO */

.Hero {
    background-image: url(images/Background.png);
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    height: 692px;
    width: 100%;
    background-position: center;
}


.iphone_16_pro_headline {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    font-size: 52px;
    color: rgba(245, 245, 247, 1);
    font-weight: 600;
}

.iphone_16_pro_subhead {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 24px;
    color: rgba(245, 245, 247, 1);
}

.action_links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
    font-size: 16px;
}

.button-primary {
    width: 123px;
    height: 44px;
    border-radius: 120px;
    background-color: rgba(0, 113, 227, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);

}

.button-secondary {
    width: 68px;
    height: 44px;
    border-radius: 120px;
    border: solid;
    border-color: rgba(41, 151, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(41, 151, 255, 1);
}

@media (max-width:450px) {
    .Hero {
        background-image: url(images/herp_small_size.png);
        height: 500px;
    }

    .iphone_16_pro_headline {
        padding-top: 350px;
        font-size: 30px;
    }

    .iphone_16_pro_subhead {
        font-size: 18px;
    }

    .button-primary {
        width: 107px;
        height: 36px;
    }

    .button-secondary {
        width: 66px;
        height: 36px;
    }
}






/* Iphone16 */

.iphone_16_background {
    background-image: url(images/Figure.png);
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    height: 692px;
    width: 100%;
    background-position: center;
    margin-top: 12px
}

.iphone_16_headline {
    display: flex;
    justify-content: center;
    padding-top: 55px;
    font-size: 52px;
    color: rgba(245, 245, 247, 1);
    font-weight: 600;
}


.iphone_16_subhead {
    display: flex;
    justify-content: center;
    margin-top: 16px;
    font-size: 24px;
    color: rgba(245, 245, 247, 1);
}

.action_links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 20px;
    font-size: 16px;
}

.button-primary-iphone16 {
    width: 123px;
    height: 44px;
    border-radius: 120px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);

}

.button-secondary-iphone16 {
    width: 68px;
    height: 44px;
    border-radius: 120px;
    border: solid;
    border-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
}

@media (max-width:450px) {

    .iphone_16_background {
        background-image: url(images/iphon16-small-size.png);
        height: 500px;
    }

    .iphone_16_headline {
        padding-top: 350px;
        font-size: 30px;
        padding-top: 36px;
    }

    .iphone_16_subhead {
        font-size: 18px;
        margin-top: 4px;
    }

    .action_links {
        margin-top: 16px;
    }

    .button-primary-iphone16 {
        width: 107px;
        height: 36px;
    }

    .button-secondary-iphone16 {
        width: 66px;
        height: 36px;
    }
}



/* GIFT MAGIC */

.Gift_magic_background {
    background-image: url(images/gift.magic.png);
    background-repeat: no-repeat;
    margin: auto;
    background-size: cover;
    height: 692px;
    width: 100%;
    background-position: center;
}

.Gift_magic_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.Gift_magic_headline {
    font-size: 52px;
    color: rgba(0, 0, 0, 1);
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 446px;
}

.Gift_magic_subhead {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: center;
    margin-top: 12px;
    text-align: center;
}

.Gift_magic_button {
    width: 114px;
    height: 44px;
    border-radius: 120px;
    background-color: rgba(0, 113, 227, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
}

@media (max-width:750px) {
    .Gift_magic_background {
        display: none;
    }


}

/* PRODUCTS */

.products {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    margin: 0 12px;
}

.products-items {
    height: 580px;
    width: calc(50% - 6px);
    background-image: url(images/1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.products-items:nth-child(3),
.products-items:nth-child(6),
.products-items:nth-child(7) {
    display: none;
}

.products-items:nth-child(2) {
    background-image: url(images/2.png);
}

.products-items:nth-child(3) {
    background-image: url(images/3.png);
}

.products-items:nth-child(4) {
    background-image: url(images/4.png);
}

.products-items:nth-child(5) {
    background-image: url(images/5.png);
}

.products-items:nth-child(6) {
    background-image: url(images/6.png);
}

.products-items:nth-child(7) {
    background-image: url(images/7.png);
}

.products-items:nth-child(8) {
    background-image: url(images/8.png);
}

.products-items:nth-child(9) {
    background-image: url(images/9.png);
}



.products-items-headline {
    font-size: 32px;
    display: flex;
    justify-content: center;
    padding-top: 58px;
    font-weight: 600;
    text-align: center;
}

.products-items-subhead {
    font-size: 18px;
    display: flex;
    justify-content: center;
    margin-top: 9px;
    color: black;
    text-align: center;
}


.products-button-primary {
    width: 115px;
    height: 40px;
    border-radius: 120px;
    background-color: rgba(0, 113, 227, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 1);


}

.products-button-secondary {
    width: 60px;
    height: 40px;
    border-radius: 120px;
    border: solid;
    border-color: rgba(41, 151, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(41, 151, 255, 1);
}

.products-items:nth-child(2) .products-items-headline {
    color: rgba(245, 245, 247, 1);
    margin-top: 401px;
    padding: 0;
}

.products-items:nth-child(2) .products-items-subhead {
    color: rgba(245, 245, 247, 1);
    margin-top: 2px;
}

.products-items:nth-child(2) .action_links {
    margin-top: 10px;
}

.products-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-right: 8px;
}

.products-items:nth-child(3) .products-items-headline {
    font-weight: 700;
}

.products-items-container {
    display: flex;
    justify-content: center;
    align-items: center
}

.series10 {
    font-weight: 700;
    display: flex;
    justify-content: center;
    padding: 4px;
}

.products-items:nth-child(4) .products-items-subhead {
    margin: 0;
}

.products-items:nth-child(4) .action_links {
    margin-top: 16px;
}

.products-items:nth-child(5) .products-items-headline {
    padding-top: 48px;
}

.products-items:nth-child(5) .products-items-subhead {
    margin-top: 2px;
}

.products-items:nth-child(5) .action_links {
    margin-top: 10px;
}

.products-items:nth-child(8) .products-items-subhead {
    text-align: center;
    margin-top: 4px;
}

.products-items:nth-child(8) .products-button-primary {
    width: 167px;
}

.products-items:nth-child(8) .action_links {
    margin-top: 16px;
}

.products-items:nth-child(9) .products-items-subhead {
    text-align: center;
    margin-top: 4px;
}

.products-items:nth-child(9) .products-button-secondary {
    width: 112px;
}

.products-items:nth-child(9) .action_links {
    margin-top: 16px;
}

.products-items:nth-child(3) .products-items-headline {
    color: rgba(245, 245, 247, 1);
    margin-top: 287px;
}

.products-items:nth-child(3) .products-items-subhead {
    color: rgba(245, 245, 247, 1);
    margin-top: 4px;
}

.products-items:nth-child(3) .products-items-headline {
    color: rgba(245, 245, 247, 1);
}



.products-items:nth-child(6) .products-items-headline {
    color: rgba(29, 29, 31, 1);
    margin-top: 42px;
    padding-top: 0px;
}

.products-items:nth-child(6) .products-items-subhead {
    color: rgba(29, 29, 31, 1);
    margin-top: 4px;
}



.products-items:nth-child(7) .products-items-headline {
    color: rgba(29, 29, 31, 1);
    margin-top: 296px;
    padding-top: 0px;

}

.products-items:nth-child(7) .products-items-subhead {
    color: rgba(29, 29, 31, 1);

    margin-top: 4px;
}

.products-items:nth-child(7) .products-button-primary {
    width: 126px;
}




@media (max-width:750px) {
    .products-items:nth-child(1) {
        width: 100%;
    }

    .products-items:nth-child(2),
    .products-items:nth-child(9) {
        display: none;
    }

    .products-items:nth-child(3),
    .products-items:nth-child(6),
    .products-items:nth-child(7) {
        display: block;
    }

}

@media (max-width: 450px) {
    .products {
        flex-direction: column;
    }

    .products-items {
        width: 100%;
    }
}

/* FOOTER */

.slides-container {
    width: 100%;
    overflow: auto;

}

.slides {
    display: flex;
    width: 5800px;
    gap: 12px;
}

.slide {
    aspect-ratio: 16/9;
    width: 1200px;
    background-image: url(images/mongol.jpg);
    margin-top: 12px;
    box-sizing: border-box;
}

.slide:nth-child(3) {
    background-image: url(images/tor.jpg);
    width: 1170px;
}

.slide:nth-child(4) {
    background-image: url(images/himo.jpg);
    background-position: center;
}

.slide:nth-child(5) {
    background-image: url(images/37-tochkar.jpg);
}

.slide:nth-child(2) {
    background-image: url(images/mongolzzzrrr.jpg);
}

.small_slide-container {
    width: 100%;
    overflow-x: auto;
}

.small_slides {
    display: flex;
    width: 2085px;
    gap: 16px;
}

.small_slide {
    height: 236px;
    width: 100%;
    background-image: url(images/comedy\ \(1\).jpeg);
    margin-top: 32px;
    box-sizing: border-box;
    aspect-ratio: 16/9;
    background-position: center;
}

.small_slide:nth-child(2) {
    background-image: url(images/fragile\ \(1\).png);
    width: 200px;
}

.small_slide:nth-child(3) {
    background-image: url(images/music\ \(1\).jpg);
}

.small_slide:nth-child(4) {
    background-image: url(images/podcast\ \(1\).jpg);
}

.small_slide:nth-child(5) {
    background-image: url(images/amusic\ \(1\).jpg);
}

.small_slide:nth-child(6) {
    background-image: url(images/fitness\ \(1\).jpg);
}

.Card {
    display: flex;
    font-weight: 700px;
    color: black;
    gap: 20px;
    margin-top: 566px;
    padding-left: 70px;
    align-items: center;
}

.card-button {
    width: 133px;
    height: 44px;
    background-color: white;
    border-radius: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-width: 768px) {
    .slides {
        width: 2700px;
    }

    .slide {
        height: 368px;
        width: 650px;
        background-image: url(images/mongol-m.jpg);
    }

    .slide:nth-child(2) {
        background-image: url(images/mongolzzz.jpg);
    }

    .slide:nth-child(3) {
        background-image: url(images/tur-m.jpg);
        width: 550px;
    }

    .slide:nth-child(4) {
        background-image: url(images/himo-m.jpg);
        width: 200px;
    }

    .slide:nth-child(5) {
        background-image: url(images/37-tochka-m.jpg);
    }
}